:root {
    --color-background: #17181c;
    --color-text: #ebebeba3;

    --section-gap: 160px;
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --color-border: var(--vt-c-divider-light-2);
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: 50px 0px 0px 0px;
    transition: all 0.5s ease;
    text-align: center;
    display: flex;
    background-color: #22232c;
}

nav {
    width: 100%;
}

.item {
    padding: 10px 5px 10px 40px;
    width: 170px;
    margin: 0 auto;
    text-align: left;
}

.item i {
    margin-right: 10px;
}

nav item.router-link-active {
    background-color: white;
    border-radius: 5px;
}

.betResult {
    padding-left: 20px;
    font-size: 30px;
    font-weight: 500;
}

.betResultPlus {
    padding-left: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #3aaa35;
}

.betResultMinus {
    padding-left: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #e30716;
}

.textInput {
    border: 1px solid rgba(84, 84, 84, 0.65);
    border-radius: 4px;
    padding: 5px 8px;
    background: transparent;
    color: var(--color-text);
    font-size: 15px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.textInput:focus {
    border: 1px solid rgba(200, 200, 200, 1);
    outline: rgba(200, 200, 200, 1);
}

.buttonGreen {
    padding: 5px 15px;
    font-size: 15px;
    border-style: none;
    border-radius: 4px;
    background-color: #0da870;
    color: white;
}

.txtC {
    text-align: center;
}

.txtL {
    text-align: left;
}

.txtR {
    text-align: right;
}

.smGreenHeader {
    font-size: 13px;
    color: #3aaa35;
}

.smGreenLabel {
    font-size: 13px;
    background-color: #3aaa35;
    color: white;
    border-radius: 5px;
    padding: 4px 7px;
}

.smSaveLabel {
    font-size: 13px;
    background-color: #3aaa35;
    color: white;
    border-radius: 5px;
    padding: 4px 10px;
    text-align: center;
}

.smViewLabel {
    font-size: 13px;
    background-color: #2d7f29;
    color: white;
    border-radius: 5px;
    padding: 4px 10px;
    text-align: center;
}

.smSpectateLabel {
    font-size: 13px;
    background-color: #3aaa35;
    color: white;
    border-radius: 5px;
    padding: 4px 10px;
    text-align: center;
}

.profilePictureCircleWrapper {
    overflow: hidden;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-color: #1e1f26;
    margin: 0 auto;
    border: 2px solid #6b6c71;
}

.profilePictureContent {
    font-size: 50px;
    color: #595959;
    background-color: white;
}

.profilePictureCircleWrapperSmall {
    overflow: hidden;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #1e1f26;
}

.profilePictureContentSmall {
    font-size: 50px;
    color: #595959;
    margin-top: 60px;
    margin-left: 70px;
}

div.content {
    margin-left: 300px;
    transition: all 0.5s ease;
}

.icon {
    font-size: 20px;
    display: flex;
    place-items: center;
    place-content: center;
    color: var(--color-text);
    border: 1px solid rgba(60, 60, 60, 0.8);
    background: var(--color-background);
    border-radius: 8px;
    width: 50px;
    height: 50px;
}

hr {
    height: 1px;
    border: none;
    color: #4d4d4d;
    background-color: #676767;
}

a {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

.green {
    color: hsla(160, 100%, 37%, 1);
}

.juicyGreen {
    color: #3aaa35;
}

.juicyRed {
    color: #9a3030;
}

.winnerColor {
    color: #fff;
}

.colWhite{ color: white;}
.colRed{color: red;}
.colPlus {color: #3aaa35;}
.colMinus {  color: #e30716;}

.m10 {margin: 10px;}
.m50 {margin: 50px;}
.ml20 {margin-left: 20px;}
.ml1em {margin-left: 1em;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}

.w40 {width: 40px;}
.w60 {width: 60px;}
.w100pc { width: 100%;}

.pt20 { padding-top: 20px;}
.pl10 { padding-left: 10px;}
.pr10 { padding-right: 10px;}
.pl20 { padding-left: 20px;}
.pr20 { padding-right: 20px;}

.pl30 { padding-left: 30px;}

.noMargin { margin: 0px;}
.ibDisplay { display: inline-block;}

.strike {
    text-decoration: line-through;
}

.router-link-exact-active {
}

.vBottom {
    vertical-align: bottom;
}

.vMiddle {
    vertical-align: middle;
}

.vTop {
    vertical-align: top;
}

input:disabled, select:disabled {
    background-color: #383838;
}

button {
    border: none;
}

button:disabled {
    background-color: #4a4b52b0;
}

.gameDiv {
    background-color: #22232c;
    padding: 20px;
    border-radius: 10px;
    min-height: 100px;
    margin: 0px 20px 0px 0px;
}

.gameDivLive {
    background-color: #333444;
    padding: 20px;
    border-radius: 10px;
    min-height: 100px;
}
.font11 {
    font-size: 11px;
}
.tournamentTitle {
    padding: 10px 20px;
    background-color: #333445;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    div.nav {
        width: 100%;
        height: 5em;
        padding: 0px;
        border-bottom: 1px solid #444549;
        z-index: 1;
    }
    div.nav a {
        display: inline-block;
        margin: 5px;
        padding: 0px 5px;
    }

    div.content {
        width: 100%;
        margin: 8em auto 0;
    }
    #logo {
        display: none;
    }
    .item {
        max-width: 100px;
        padding: 0px;
    }
    .item i {
        display: none;
    }
}

/* Hide the up/down arrows on number input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide the up/down arrows on number input fields (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}